FoamFile
{
    format      ascii;
    class       volVectorField;
    object      U;
}
dimensions      [0 1 -1 0 0 0 0];
internalField   uniform (__U_INLET__ 0 0);

boundaryField
{
    inlet
    {
        type            fixedValue;
        value           uniform (__U_INLET__ 0 0);
    }
    outlet
    {
        type            zeroGradient;
    }
    walls
    {
        type            noSlip;
    }
    heat_sink_surfaces
    {
        type            noSlip;
    }
    chip_bases
    {
        type            noSlip;
    }
}
